<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MTAPITradePump.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <MTAPITradePump.Properties.Settings>
            <setting name="MTAPIhost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="MTAPIport" serializeAs="String">
                <value>8222</value>
            </setting>
            <setting name="MTAPI_NS_Lot_multplier" serializeAs="String">
                <value>1E-05</value>
            </setting>
            <setting name="MTAPIslip" serializeAs="String">
                <value>3</value>
            </setting>
        </MTAPITradePump.Properties.Settings>
    </userSettings>
</configuration>
